@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 212, 59;
  --background-start-rgb: 50, 108, 229;
  --background-end-rgb:	250, 70, 22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 212, 59;
    --background-start-rgb: 50, 108, 229;
    --background-end-rgb: 250, 70, 22;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

