@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 4, 0;
  --background-start-rgb: 255, 246, 255;
  --background-end-rgb:	50, 108, 229;
}

body {
  min-height: 100vh;
  overflow:hidden;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

